<div [@routerTransition]>
  <!-- <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Reset Password" | localize }}</h1>
        </div>
      </div>
    </div>
  </section> -->
   <section class="content-header pt-0 pb-0 mt-0 mx-0 mb-0 md-0">
        <div class="container-fluid mx-0 px-0 mx-0 mb-0">
    
            <div class="row md-0 mb-1 mt-0">
                <div class="col-sm-12 px-0">
                    <div class="alert alert-info alert-dismissible">
                        <h3 class="center">Reset Password</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <form [formGroup]="ChangePasswordForm">
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card mx-0 pt-3 pb-2">
        <div class="row mx-2">
          <!-- <div class="col-sm-12"> -->

        <!-- <div class="col-md-6">
          <label class="mb-0" for="EmailForgotPassword">Email</label>
          <input type="text" formControlName="EmailForgotPassword" class="form-control float-right  form-control-sm col-md-12"
            id="EmailForgotPassword" />
        </div> -->
        <div class="col-md-6">
          <label class="mb-0 " for="NewPassword">Password</label>
          <input type="text" autocomplete="off" formControlName="NewPassword" class="form-control float-right form-control-sm col-md-12 mx-0"
            id="NewPassword" />
        </div> 
        <div class="col-md-6">
          <label class="mb-0 " for="NewConfirmPassword">ConfirmPassword</label>
          <input type="text" autocomplete="off" formControlName="NewConfirmPassword" class="form-control float-right px-0 form-control-sm col-md-12 mx-0"
            id="NewConfirmPassword" />
        </div>
        </div>
      <div class="row">

    <!-- <div class="col-md-8">
        <label class="mb-0 mx-3" for="NewConfirmPassword">ConfirmPassword</label>
        <input type="text" autocomplete="off" formControlName="NewConfirmPassword" class="form-control float-right px-0 form-control-sm col-md-12 mx-0"
          id="NewConfirmPassword" />
      </div> -->
      <div class="col-md-12">
      <div class="modal-footer">
        <button type="button" class="btn btn-danger float-right" (click)="closePopup()">
          Close
        </button>
        <button type="button"
        class=" btn-success btn float-right" (click)="UserSubmit()">Submit</button>
      </div>
    </div>
      <!-- </div> -->
      </div>

      
      </div>
      </div>


    <!-- <div class="container-fluid">
      <div class="card">
        <form
          class="form-horizontal"
          autocomplete="off"
          #changePasswordForm="ngForm"
          (ngSubmit)="changePassword()"
        >
          <div class="card-body">
            <div class="modal-body">
               <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="currentPassword">
                  {{ "Email Address" | localize }}
                </label>
                <div class="col-md-9">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    required
                    minlength="2"
                    maxlength="32"
                    [(ngModel)]="changePasswordDto.currentPassword"
                    #currentPasswordModel="ngModel"
                    #currentPasswordEl
                  />
                  <abp-validation-summary
                    [control]="currentPasswordModel"
                    [controlEl]="currentPasswordEl"
                  ></abp-validation-summary>
                </div>
              </div> 
              <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="newPassword">
                  {{ "NewPassword" | localize }}
                </label>
                <div class="col-md-9">
                  <input
                    type="password"
                    class="form-control"
                    name="newPassword"
                    id="newPassword"
                    required
                    minlength="2"
                    maxlength="32"
                    validateEqual="confirmNewPassword"
                    reverse="true"
                    pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@#$%^&*()]*$"
                    [(ngModel)]="changePasswordDto.newPassword"
                    #newPasswordModel="ngModel"
                    #newPasswordEl
                  />
                  <abp-validation-summary
                    [control]="newPasswordModel"
                    [controlEl]="newPasswordEl"
                    [customValidationErrors]="newPasswordValidationErrors"
                  ></abp-validation-summary>
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="confirmNewPassword">
                  {{ "ConfirmNewPassword" | localize }}
                </label>
                <div class="col-md-9">
                  <input
                    type="password"
                    class="form-control"
                    name="confirmNewPassword"
                    id="confirmNewPassword"
                    required
                    minlength="2"
                    maxlength="32"
                    validateEqual="newPassword"
                    reverse="false"
                    ngModel
                    #confirmNewPasswordModel="ngModel"
                    #confirmNewPasswordEl
                  />
                  <abp-validation-summary
                    [control]="confirmNewPasswordModel"
                    [controlEl]="confirmNewPasswordEl"
                    [customValidationErrors]="
                      confirmNewPasswordValidationErrors
                    "
                  ></abp-validation-summary>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer justify-content-between">
            <button type="button"class=" btn-primary btn " >Submit</button>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!changePasswordForm.form.valid || saving"
            >
              {{ "Save" | localize }}
            </button>
          </div>
        </form>
      </div>
    </div> -->
  </section>
</form>
</div>
<!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reset Password</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
        <div class="card mx-2 pt-3 pb-2">
          <div class="row">
             <div class="col-sm-12">

          <div class="col-md-6">
            <label class="mb-0" for="EmailForgotPassword">Email</label>
            <input type="text" formControlName="EmailForgotPassword" class="form-control float-right  form-control-sm col-md-12"
              id="EmailForgotPassword" />
          </div>
          <div class="col-md-6">
            <label class="mb-0" for="NewPassword">Password</label>
            <input type="text" autocomplete="off" formControlName="NewPassword" class="form-control float-right form-control-sm col-md-12"
              id="NewPassword" />
          </div> 
        

      <div class="col-md-6">
          <label class="mb-0" for="NewConfirmPassword">ConfirmPassword</label>
          <input type="text" autocomplete="off" formControlName="NewConfirmPassword" class="form-control float-right px-2 form-control-sm col-md-12"
            id="NewConfirmPassword" />
        </div>
         </div> 
        </div>
        </div>
        </div>
      </div>

        

      
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Close
        </button>
        <button type="button"
        class=" btn-success btn " (click)="UserSubmit()">Submit</button>
      </div>
    </div>
    </div>
  </div> -->