<ul class="navbar-nav pb-0" >
  <li class="nav-item pb-0">
    <a class="nav-link" href="javascript:;" (click)="toggleSidebar()">
      <i class="fas fa-bars" style="color: whitesmoke;"  ></i>
    </a>
  </li>
  
  <!-- <li class="nav-item d-none d-sm-inline-block">
    <a class="nav-link" [routerLink]="['home']">
      {{ "HomePage" | localize }}
    </a>
  </li>
  <li class="nav-item d-none d-sm-inline-block">
    <a class="nav-link" [routerLink]="['about']">
      {{ "About" | localize }}
    </a>
  </li> -->

    <button
          type="button"
          class=""
          style="color: white;background-color: rgb(35 52 86);"
          (click)="goBack()"
        >
          <i class="fa fa-arrow-circle-left"></i> Back
        </button>
    <div class="col-md-12 nav-user-menu" style=" color: white;background-color: rgb(35 52 86);border-color: whitesmoke; border-radius: 50px;  display: flex;
          justify-content: center;
          align-items: center;
          margin: 5px 0px 5px 0px;

          "> {{organizationName}}

    


     

     
    
  </div>


</ul>

