::ng-deep .dx-header-row .cell-header {
    color: rgb(255, 254, 254);
    font-style: italic;
    font-weight: bold;
    background-color: #233456;

}
::ng-deep #gridContainer {
  max-height: 400px;
}