<form [formGroup]="CityForm" #cityForm="ngForm">

    <section class="content-header pt-0 pb-0 mt-0 mx-0 mb-0 md-0">
        <div class="container-fluid mx-0 px-0 mx-0 mb-0">

            <div class="row md-0 mb-1 mt-0">
                <div class="col-sm-12 px-0">
                    <div class="alert alert-info alert-dismissible">
                        <h6>MASTER SETUP / CITY</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-header pt-0 pb-0 mt-3 mx-0 mb-0 md-0">



        <div class="container-fluid">
            <div class="card">
                <div class="card-header">

                    <!-- <form [formGroup]> -->
                    <div class="row md-0 px-3 pb-2 ">

                        <div class="col-md-4">
                            <label class="mb-0 " for="Code">Code</label>
                            <input type="text" formControlName="Code" class="form-control form-control-sm col-md-12"
                                id="Code" />
                        </div>

                        <div class="col-md-4">
                            <label class="mb-0 mx-2" for="CountryId">Country</label>
                            <select class="form-control form-control-sm col-md-12 mx-2" formControlName="CountryId"
                                id="CountryId" required [ngClass]="{ 'is-invalid': submitted && f.CountryId.errors }"
                                (change)="loadState($event.target.value)">
                                <option *ngFor="let item of CountryList" [value]="item.id">
                                    {{ item.name }}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.CountryId.errors" class="invalid-feedback">
                                <div *ngIf="f.CountryId.errors.required">Country is required</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="mb-0 mx-2" for="StateId">State</label>
                            <select class="form-control form-control-sm col-md-12 mx-2" formControlName="StateId"
                                id="StateId" required [ngClass]="{ 'is-invalid': submitted && f.StateId.errors }">
                                <option *ngFor="let item of StateList" [value]="item.id">
                                    {{ item.name }}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.StateId.errors" class="invalid-feedback">
                                <div *ngIf="f.StateId.errors.required">State is required</div>
                            </div>

                        </div>

                    </div>
                    <!-- //</form> -->
                    <div class="row mt-1 px-2">

                        <div class="col-md-4">
                            <label class="mb-0 mx-2" for="Name">City</label>
                            <input type="text" formControlName="Name"
                                class="form-control form-control-sm col-md-12 mx-2" id="Name" required
                                [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">

                            <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                                <div *ngIf="f.Name.errors.required"> Name is required</div>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <label class="mb-0 mx-2" for="IsActive">
                                {{ "Status" }}
                            </label>
                            <select class="form-control form-control-sm col-md-12 mx-2" formControlName="IsActive"
                                required id="IsActive" required
                                [ngClass]="{ 'is-invalid': submitted && f.IsActive.errors }">
                                <option *ngFor="let item of StatusList" [value]="item.id">
                                    {{ item.name }}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.IsActive.errors" class="invalid-feedback">
                                <div *ngIf="f.IsActive.errors.required">Status is required</div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn-sm btn btn-primary float-right mx-1 px-3 mt-4 pt-2 pb-2  "
                                (click)="NewRecord()">New</button>

                            <button type="button" class="btn-sm btn-success btn float-right mx-1 px-3 mt-4 pt-2 pb-2 "
                                (click)="onSubmit()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body table-responsive p-0">



                            <dx-data-grid id="dataGrid" [rowAlternationEnabled]="true" [showRowLines]="true"
                                [showColumnLines]="true" [allowColumnReordering]="true" [dataSource]="CityList | paginate
                            : {
                                id: 'server',
                                itemsPerPage: this.pagedDto.pageSize,
                                currentPage: this.pagedDto.page,
                                totalItems: this.totalCount
                              }" keyExpr="id">
                                <dxo-scrolling mode="virtual"></dxo-scrolling>

                                <!-- <dxo-search-panel [visible]="true" [width]="240" placeholder="Search...">
                                </dxo-search-panel> -->
                                <dxi-column dataField="code" caption="Code"></dxi-column>
                                <dxi-column dataField="countryName" caption="Country"></dxi-column>
                                <dxi-column dataField="stateName" caption="State"></dxi-column>
                                <dxi-column dataField="name" caption="City"></dxi-column>
                                <!-- <dxi-column   dataField="description"  
                            caption="Description"></dxi-column>  -->

                                <dxi-column dataField="isActive" caption="IsActive"></dxi-column>




                                <dxi-column type="buttons" caption="Action">
                                    <dxi-button icon="edit" [onClick]="edit" [(visible)]="isAddShown"></dxi-button>

                                    <dxi-button icon="deleterow" [onClick]="delete" [(visible)]="isAddShown">
                                    </dxi-button>


                                    <!-- <i class="fas fa-tasks"></i> -->
                                    <!-- <dxi-button
                                hint="Download File"
                                icon="download"
                               [onClick]="Downloadfile"></dxi-button> -->
                                    <!-- <dxi-button   icon="edit"
                               [routerLink]='["/app/pages/stock-management/library"]'
                                 [(visible)]="isAddShown"
                                 ></dxi-button>   -->
                                </dxi-column>






                            </dx-data-grid>
                            <div class="card-footer table-card-footer pb-0 border-top">
                                <div class="row">
                                    <div class="col-sm-2 col-12 text-sm-left text-center">
                                        <button class="btn btn-sm">
                                            <i class="fas fa-redo text-info" (click)="reloadGrid()"></i>


                                        </button>

                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <!-- <pagination-controls id="server" (pageChange)="onTableDataChange($event)">
                                    </pagination-controls> -->
                                    </div>
                                    <div class="col-sm-4 col-12">
                                        <pagination-controls id="server" (pageChange)="onTableDataChange($event)">
                                        </pagination-controls>
                                    </div>
                                    <!-- <div class="col-sm-2 col-12 ">
        
                                    <div class="d-flex flex-row-reverse bd-highlight mb-2">
                                        <div class="p-2 bd-highlight">
                                            <select (change)="onTableSizeChange($event)" class="custom-select">
                                                <option *ngFor="let size of tableSizes" [ngValue]="size">
                                                    {{ size }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div> -->
                                </div>
                            </div>
                            <!-- <dx-tree-list>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]"
                                [showNavigationButtons]="true">
                            </dxo-pager>
                        </dx-tree-list> -->




                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</form> <br> <br>