<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">


        <!-- <a class="nav-item nav-link" id="nav-profile-tab" href="#" style="color: darkblue;"
            [routerLink]="['/app/pages/sales/client-add-project']" data-toggle="tab" role="tab"
            aria-controls="nav-profile" aria-selected="false">Add/Edit Projects </a>

            <a class="nav-item nav-link" id="nav-profile-tab" href="#" style="color: darkblue;"
            [routerLink]="['/app/pages/sales/client-add-visit']" data-toggle="tab" role="tab"
            aria-controls="nav-profile" aria-selected="false">Client Sites </a>

        <a class="nav-item nav-link" id="nav-profile-tab" href="#" style="color: darkblue;"
            [routerLink]="['/app/pages/sales/client-add-visit']" data-toggle="tab" role="tab"
            aria-controls="nav-profile" aria-selected="false">Add/Edit Visit </a>

            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home"
            aria-selected="true">Higg</a>

            <a class="nav-item nav-link" id="nav-profile-tab" href="#" style="color: darkblue;"
            [routerLink]="['/app/pages/sales/slcp']" data-toggle="tab" role="tab"
            aria-controls="nav-profile" aria-selected="false">Slcp </a> -->

        <a class="nav-item nav-link" id="nav-profile-tab" href="#"
            style="color: white; background-color: #304570; border-color: whitesmoke" (click)="Popup()"  *ngIf="btnChnageRequest"
            data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="false">Project Change Request</a>




    </div>
</nav>



<!-- <section class="content-header pt-0 pb-0 mt-0 mx-0 mb-0 md-0">
    <div class="container-fluid mx-0 px-0 mx-0 mb-0">

        <div class="row md-0 mb-1 mt-0">
            <div class="col-sm-12 px-0">
                <div class="alert alert-info alert-dismissible">
                    <h6><i class="fa fa-database"></i> Task Board</h6>
                </div>
            </div>
        </div>
    </div>
</section> -->
<form [formGroup]="HiggForm" #higgForm="ngForm">

    <section class="content pt-0 pb-0 mt-3 mx-2 mb-0 md-0">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <!-- <h3
                        style="text-align: center; color: rgb(35 52 86) ;font-family: 'Times New Roman'; font-weight: bold; ">
                        Higg Application Form</h3>
                 -->
                    <div class="alert alert-info alert-info">
                        <h3 style="text-align: center;font-family: 'Times New Roman'; font-weight: bold; "> Higg
                            Application Form</h3>
                    </div>
                    <h4
                        style="text-align: center; color: #0056B3 ;font-family: 'Times New Roman';  font-weight: bold; text-decoration: underline">
                        {{ ProjectStatus}}</h4>
                        <span style="color:black; font-weight: bold;">Registration No: <span style="color: red;">{{Registration}}</span></span>

                <!-- <div class="input-group">
                        <input type="text" class="form-control" name="keyword" [placeholder]="'Search'" />
                        <div class="input-group-prepend">
                            <button type="button" class="btn bg-blue">
                                <i class="fas fa-search"></i>
                            </button>

                        </div>
                    </div> -->


                </div>

                <b> <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" data-toggle="tab"
                        role="tab" style="text-decoration: underline" aria-controls="nav-profile"
                        aria-selected="false">Client Site Detail </a></b>

                <div class="row mt-1 mx-2">
                    <div class="col-md-4">
                        <label class="mb-0" for="ClientSiteId">
                            {{ "Site Name" }}
                        </label>

                        <select formControlName="ClientSiteId" class="form-control form-control-sm col-md-12"
                            (change)="onChange($event.target.value)" id="ClientSiteId" required
                            [ngClass]="{ 'is-invalid': submitted && f.ClientSiteId.errors }">
                            <option *ngFor="let item of ClientSiteList" [value]="item.id">
                                {{ item.siteName }}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.ClientSiteId.errors" class="invalid-feedback">
                            <div *ngIf="f.ClientSiteId.errors.required">Site is required</div>
                        </div>
                        <!-- <div class='alert alert-danger'
                        *ngIf='!ClientSiteId.valid && (ClientSiteId.touched || ClientSiteId.dirty)'>
                        <div *ngIf="ClientSiteId.errors['required']">
                            Please Select Site..
                        </div>
                    </div> -->
                    </div>


                    <div class="col-md-8">
                        <label class="mb-0" for="Address">Address</label>

                        <input formControlName="Address" class="form-control form-control-sm col-md-12" id="Address"
                            disabled required [ngClass]="{ 'is-invalid': submitted && f.Address.errors }">
                        <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
                            <div *ngIf="f.Address.errors.required">Address is required</div>
                        </div>
                    </div>

                </div>


                <div class="row mt-1 mx-2">
                    <div class="col-md-4">
                        <label class="mb-0" for="VerificationTypeId">
                            {{ "Verification Type" }}
                        </label>

                        <select formControlName="VerificationTypeId" class="form-control form-control-sm col-md-12"
                            id="VerificationTypeId" required
                            [ngClass]="{ 'is-invalid': submitted && f.VerificationTypeId.errors }">
                            <option *ngFor="let item of VerificationTypeList" [value]="item.id">
                                {{ item.name }}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.VerificationTypeId.errors" class="invalid-feedback">
                            <div *ngIf="f.VerificationTypeId.errors.required">Verification Type is required</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="mb-0" for="LegalStatus">Legal Status</label>
                        <input formControlName="LegalStatus" type="text" class="form-control form-control-sm col-md-12"
                            id="LegalStatus" disabled>

                    </div>

                    <div class="col-md-4">
                        <label class="mb-0" for="OutsourceProductionProcessess">Outsource Production Process</label>
                        <input formControlName="OutsourceProductionProcessess" type="text"
                            class="form-control form-control-sm col-md-12" id="OutsourceProductionProcessess" disabled>
                    </div>

                </div>



                <div class="row mt-1 mx-2">
                    <div class="col-md-6">
                        <label class="mb-0" for="TotalEmployees">Total Employees</label>
                        <input formControlName="TotalEmployees" type="text"
                            class="form-control form-control-sm col-md-12" id="TotalEmployees" disabled required
                            [ngClass]="{ 'is-invalid': submitted && f.TotalEmployees.errors }">
                        <div *ngIf="submitted && f.TotalEmployees.errors" class="invalid-feedback">
                            <div *ngIf="f.TotalEmployees.errors.required">Total Employees is required</div>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <label class="mb-0" for="ShiftTimings">Shift Time</label>
                        <input type="text" formControlName="ShiftTimings" class="form-control form-control-sm col-md-12"
                            id="ShiftTimings" disabled>

                    </div>

                </div>







                <br>

            </div>

            <div class="card">

                <b> <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" data-toggle="tab"
                        role="tab" style="text-decoration: underline" aria-controls="nav-profile"
                        aria-selected="false">Audit Request: </a></b>
                        <div class="row mt-1 mx-2">
                            <div class="col-md-4">
                                <!-- <label class="mb-0" for="ProjectTypeId">
                                    {{ "Project Code" }}
                                </label>
                                <input type="text"  formControlName="Code" class="form-control form-control-sm col-md-12"
                                id="Code" /> -->

                                    <label class="mb-0" for="Code">
                                        {{ "Project : " }}
                                    </label>
                                    {{  ProjectCode}}



                            </div>
                            <div class="col-md-4">


                                <label class="mb-0" for="Code">
                                    {{ "Project Status: " }}
                                </label>

                                    {{  ProjectStatus}}





                            </div>





                        </div>
                <div class="row mt-1 mx-2">
                    <div class="col-md-4">
                        <label class="mb-0" for="ProjectTypeId">
                            {{ "Project Tranfer" }}
                        </label>
                        <select formControlName="ProjectTypeId" class="form-control form-control-sm col-md-12"
                            id="ProjectTypeId" required
                            [ngClass]="{ 'is-invalid': submitted && f.ProjectTypeId.errors }">
                            <option *ngFor="let item of TransferProjectList" [value]="item.id">
                                {{ item.code }}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.ProjectTypeId.errors" class="invalid-feedback">
                            <div *ngIf="f.ProjectTypeId.errors.required">Project Transfer is required</div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <label class="mb-0" for="ServicesTypeId">
                            {{ "Services Type" }}
                        </label>

                        <select formControlName="ServicesTypeId" class="form-control form-control-sm col-md-12"
                            id="ServicesTypeId">
                            <option *ngFor="let item of SerivceTypeList" [value]="item.id">
                                {{ item.name }}
                            </option>
                        </select>
                    </div>


                    <div class="col-md-4">
                        <label class="mb-0" for="MethodologyId">
                            {{ "Methodology" }}
                        </label>

                        <select formControlName="MethodologyId" class="form-control form-control-sm col-md-12"
                            id="MethodologyId">
                            <option *ngFor="let item of MethodologyList" [value]="item.id">
                                {{ item.name }}
                            </option>
                        </select>

                    </div>

                </div>

                <div class="row mt-1 mx-2">
                    <div class="col-md-4">
                        <label class="mb-0" for="FromDate">From Date</label>
                        <input type="date" formControlName="FromDate" class="form-control form-control-sm  mb-2"
                            id="FromDate" />
                    </div>
                    <div class="col-md-4">
                        <label class="mb-0" for="ToDate">To Date</label>
                        <input type="date" formControlName="ToDate" class="form-control form-control-sm  mb-2"
                            id="ToDate" />
                    </div>


                    <div class="col-md-4 ">
                        <div class="form-group">

                            <label class="mb-0" for="ApplicationDate">Application Date</label>
                            <!-- <input type="file" id="file"> -->
                            <!-- <input type="file" class="form-control-sm  mb-2 col-md-12" name="PhotoFile"> -->
                            <input type="date" formControlName="ApplicationDate"
                                class="form-control form-control-sm col-md-12" id="ApplicationDate" />
                        </div>

                    </div>

                </div>

            </div>

            <div class="card">

                <b> <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" data-toggle="tab"
                        role="tab" style="text-decoration: underline" aria-controls="nav-profile"
                        aria-selected="false">Annex-Higg Index: </a></b>

                <div class="row mt-1 mx-2">
                    <div class="col-md-6">
                        <label class="mb-0" for="AssessmentCompletedId">
                            {{ "Is Self Assessment Completed in Higg.org?" }}
                        </label>

                        <select formControlName="AssessmentCompletedId" class="form-control form-control-sm col-md-12"
                            id="AssessmentCompletedId">
                            <option *ngFor="let item of AssessmentCompletedList" [value]="item.id">
                                {{ item.name }}
                            </option>
                        </select>
                    </div>


                    <div class="col-md-6">
                        <label class="mb-0" for="CompletedModuleList">
                            {{ "Completed Module" }}
                        </label>

                        <select formControlName="CompletedModuleId" class="form-control form-control-sm col-md-12"
                            id="CompletedModuleId">
                            <option *ngFor="let item of CompletedModuleList" [value]="item.id">
                                {{ item.name }}
                            </option>
                        </select>

                    </div>

                </div>

                <div class="row mt-1 mx-2">
                    <div class="col-md-6">
                        <label class="mb-0" for="ManufacturingProcessess">Manufacturing Processes Under Bussiness
                            License</label>
                        <textarea type="text" formControlName="ManufacturingProcessess"
                            class="form-control form-control-sm  mb-2 col-md-12"
                            id="ManufacturingProcessess"></textarea>
                    </div>


                    <div class="col-md-6">
                        <label class="mb-0" for="EffluentTreatmentPlantId">
                            {{ "Does your Facility have Effluent Treatment Plant(ETP)?" }}
                        </label>

                        <select formControlName="EffluentTreatmentPlantId"
                            class="form-control form-control-sm col-md-12" id="EffluentTreatmentPlantId">
                            <option *ngFor="let item of EffluentTreatmentPlantList" [value]="item.id">
                                {{ item.name }}
                            </option>
                        </select>

                    </div>

                </div>

            </div>
            <div class="card">
                <!-- <div class="card-header">
            <div class="row">
                <div class="col-sm-12"> -->
                <!-- <div class="input-group">
                                <input type="text" class="form-control" name="keyword" [placeholder]="'Search'" />
                                <div class="input-group-prepend">
                                    <button type="button" class="btn bg-blue">
                                        <i class="fas fa-search"></i>
                                    </button>

                                </div>
                            </div> -->
                <b> <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" data-toggle="tab"
                        role="tab" style="text-decoration: underline" aria-controls="nav-profile"
                        aria-selected="false">PLANNING: </a></b>
                <div class="container-fluid mb-2">
                    <div class="row mx-2">
                        <div class="col-md-4">
                            <label class="mb-0" for="NoOfMd">No Of MD</label>
                            <input type="text" formControlName="NoOfMd" class="form-control form-control-sm col-md-12"
                                id="NoOfMd" />

                        </div>
                        <div class="col-md-4">
                            <label class="mb-0" for="RequestOfSiteId">Request Of Site</label>
                            <select formControlName="RequestOfSiteId" class="form-control form-control-sm col-md-12"
                                id="RequestOfSiteId">
                                <option *ngFor="let item of RequestOfSiteList" [value]="item.id">
                                    {{ item.name }}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="mb-0" for="ModuleVersionId">Module Version</label>
                            <select formControlName="ModuleVersionId" class="form-control form-control-sm col-md-12"
                                id="ModuleVersionId">
                                <option *ngFor="let item of ModuleVersionList" [value]="item.id">
                                    {{ item.name }}
                                </option>
                            </select>

                        </div>


                    </div>
                    <div class="row  mt-1 mx-2">
                        <div class="col-md-4">
                            <label class="mb-0">
                                Body Select Date
                            </label>
                            <input type="date" formControlName="BodySelectDate"
                                class="form-control form-control-sm col-md-12" id="BodySelectDate" />
                        </div>
                        <div class="col-md-4">
                            <label class="mb-0" for="ModuleShareId">
                                {{ "Module Share " }}
                            </label>
                            <select formControlName="ModuleShareId" class="form-control form-control-sm col-md-12"
                                id="ModuleShareId">
                                <option *ngFor="let item of ModuleShareList" [value]="item.id">
                                    {{ item.name }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="mb-0">
                                Module Year
                            </label>
                            <input type="number" formControlName="ModuleYear"
                                onKeyPress="if(this.value.length==4) return false;"
                                class="form-control form-control-sm col-md-12" id="ModuleYear" />
                        </div>
                        <!-- <div class="col-md-4">
                            <label class="mb-0" for="WindowPeriodDate">
                                Window Period Date
                            </label>
                            <input type="date" formControlName="WindowPeriodDate"
                                class="form-control form-control-sm col-md-12" id="WindowPeriodDate" />
                        </div> -->

                    </div>
                    <div class="row  mt-1 mx-2">

                        <div class="col-md-4">
                            <div class="form-group">

                                <label for="file"> Application Form (.pdf/.doc/.docx)</label>
                                <input type="file" id="File" (change)="handlefileInput($event)" name="File"
                                    formControlName="File">
                            </div>
                        </div>


                        <div class="col-md-6">
                            <label class="mb-0" for="Remarks">Remarks</label>
                            <textarea type="text" formControlName="Remarks"
                                class="form-control form-control-sm col-md-12" id="Remarks"></textarea>
                        </div>
                    </div>
                    <div class="row  mt-1 mx-2" *ngIf="authorizer">


                        <div class="col-md-4" *ngIf="btnApproval">
                            <label class="mb-0" for="ApprovalStatusId">
                                {{ "Status" }}
                            </label>
                            <select formControlName="ApprovalStatusId" class="form-control form-control-sm col-md-12"
                                id="ApprovalStatusId">
                                <option *ngFor="let item of ApprovalList" [value]="item.id">
                                    {{ item.name }}
                                </option>
                            </select>


                            <!-- <input  class="form-control form-control-sm col-md-12" id="indent" /> -->


                        </div>

                    </div>

                    <div class="row  mt-1 mx-2">
                        <button type="button" class="btn-sm btn btn-dark float-right "
                                    (click)="dashboard()"><i class="fa fa-arrow-circle-left"></i> Go To Dashboard</button>
                        <button type="button" class="btn-sm btn btn-dark float-right col-md-1 ml-1 mt-3"
                            (click)="Back()"><i class="fa fa-arrow-circle-left"></i> Back</button>
                        <div class="col-md-2" *ngIf="savedownload">
                            <button class="btn-sm btn-success btn col-md-12 ml-1 mt-3 float-left"
                                (click)="DownloadApplicationForm()">
                                <i class="fa fa-download"></i> Application Form
                            </button>
                        </div>
                        <div class="col-md-2" *ngIf="authorizer">

                            <div *ngIf="btnApproval">


                                <button class="btn-sm btn-success btn col-md-12 ml-1 mt-3 float-left"
                                    (click)="OnApprovalSubmit()">
                                    <i class="fa fa-save"></i> Approved / Reject
                                </button>

                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="savebtn">
                            <div *ngIf="Inserted">


                                <button type="submit" class="btn-sm btn-success btn col-md-12 ml-1 mt-3 float-left"
                                    (click)="onSubmit()">
                                    <i class="fa fa-save"></i> Project Save
                                </button>
                            </div>
                        </div>

                        <div class="col-md-2" *ngIf="deletebtn">
                            <button class="btn-sm btn-danger btn col-md-12 ml-1 mt-3 float-left" (click)="delete()">
                                <i class="fas fa-trash-alt"></i>
                                Delete
                            </button>
                        </div>
                    </div>
                    <!-- <div class="row  mt-1 mx-2">
                            <button type="button" class="btn-sm btn btn-dark float-right col-md-1 ml-1 mt-3"
                            (click)="Back()"><i class="fa fa-arrow-circle-left"></i> Back</button>
                            <div class="col-md-2" *ngIf="savedownload">
                                <button class="btn-sm btn-success btn col-md-12 ml-1 mt-3 float-left"   (click)="DownloadApplicationForm()">
                                    <i class="fa fa-download"></i> Application Form
                                </button>
                            </div>
                            <div class="col-md-2"  *ngIf="authorizer">
                                <div  *ngIf="btnApproval">

                                <button class="btn-sm btn-success btn col-md-12 ml-1 mt-3 float-left"  (click)="OnApprovalSubmit()">
                                    Save
                                </button>

                            </div>
                            </div>
                            <div class="col-md-2"  *ngIf="savebtn">
                            <div  *ngIf="!authorizer">


                                <button class="btn-sm btn-success btn col-md-12 ml-1 mt-3 float-left"   (click)="onSubmit()">
                                    Submit
                                </button>
                            </div>
                           </div>

                            <div class="col-md-2" *ngIf="deletebtn">
                            <button class="btn-sm btn-danger btn col-md-12 ml-1 mt-3 float-left"   (click)="delete()">
                                Delete Record
                             </button>
                            </div>
                        </div> -->
                    <!-- </div>
            </div>
            </div> -->
                </div>

            </div>
            <div class="card">

                <b> <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" data-toggle="tab"
                        role="tab" style="text-decoration: underline" aria-controls="nav-profile"
                        aria-selected="false">Client Contract </a></b>

                <div class="row mt-1 mx-2" *ngIf="btnContract">
                    <div class="col-md-6">
                        <label class="mb-0" for="ContractRemarks">Contract Remarks</label>
                        <textarea type="text" formControlName="ContractRemarks"
                            class="form-control form-control-sm col-md-12" id="ContractRemarks"></textarea>
                    </div>


                    <div class="col-md-6">
                        <label class="mb-0" for="ContractStatusId">
                            {{ "Status" }}
                        </label>
                        <select formControlName="ContractStatusId" class="form-control form-control-sm col-md-12"
                            id="ContractStatusId">
                            <option *ngFor="let item of ContractApprovalList" [value]="item.id">
                                {{ item.name }}
                            </option>
                        </select>

                    </div>

                </div>

                <div class="row mt-1 mx-2">
                    <div class="col-md-4" *ngIf="IsContract">


                        <label for="file"> Contract(.pdf/.doc/.docx)</label>

                        <input type="file" id="ContractFile" (change)="handlefileInput($event)" name="ContractFile">

                    </div>

                    <div class="col-md-2 float-right" *ngIf="btnContractDownload">
                        <button class="btn-sm btn-success btn col-md-12 ml-1 mt-3 float-right"
                            (click)="contractDownload()">
                            View Contract
                        </button>

                    </div>
                    <div class="col-md-4 float-right" *ngIf="IsContract">
                        <button class="btn-sm btn-danger col-md-5 ml-1 mt-3 float-right" icon="download"
                            (click)=" Pdf()">
                            Contract Template
                        </button>
                        <button class="btn-sm btn-success btn col-md-5 ml-1 mt-3 float-right"
                            (click)="onContractSubmit()">
                            Contract Submit
                        </button>
                    </div>
                    <div class="col-md-2 right" *ngIf="btnContractSave">
                        <button class="btn-sm btn-success btn col-md-12 ml-1 mt-3 float-right"
                            (click)="contractApproved()">
                            Submit
                        </button>



                        <!-- <input  class="form-control form-control-sm col-md-12" id="indent" /> -->


                    </div>




                </div>
                <br>
            </div>

            <div class="card">

                <b> <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" data-toggle="tab"
                        role="tab" style="text-decoration: underline" aria-controls="nav-profile"
                        aria-selected="false">Project Status Change </a></b>

                <div class="row mt-1 mx-2">
                    <div class="col-md-6">
                        <label class="mb-0" >Project Remarks</label>
                        <textarea type="text" formControlName="ProjectRemarks"
                            class="form-control form-control-sm col-md-12" id="ProjectRemarks"></textarea>
                    </div>

                    <div class="col-md-6">
                        <label class="mb-0" for="VisitStatusId">{{ "Status" }}</label>
                        <select formControlName="VisitStatusId" class="form-control form-control-sm col-md-12" id="VisitStatusId">
                          <option value="3">Active</option>
                          <option value="13">Suspended</option>
                          <option value="14">Cancelled/Withdrawn</option>
                          <option value="15">Expired</option>
                        </select>
                      </div>


                </div>
                <div class="row mt-1 mx-2">
                    <div class="col-md-2 mb-1 float-right">
                        <button class="btn-sm btn-success btn col-md-12 ml-1 mt-3 float-right"
                            (click)="ChangeStatus()">
                             Change Status
                        </button>
                </div>
                <br>
            </div>
        </div>
        </div>

    </section>
</form> <br><br>



<form [formGroup]="HiggChangeFormControl" #higgChangeFormcontrol="ngForm">
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: datadisplay }">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 880px;height:auto">
                <div class="modal-header">
                    <h4 class="modal-title" style="color: #304570">
                        Project Change Request
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid mb-2" style="overflow: scroll; height: 400px ; width:860px">

                        <div class="card">

                            <b> <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" data-toggle="tab"
                                    role="tab" style="text-decoration: underline" aria-controls="nav-profile"
                                    aria-selected="false">Audit Request: </a></b>

                            <div class="row mt-1 mx-2">


                                <div class="col-md-4">
                                    <label class="mb-0" for="ServicesTypeId">
                                        {{ "Services Type" }}
                                    </label>

                                    <select formControlName="ServicesTypeId" class="form-control form-control-sm col-md-12"
                                        id="ServicesTypeId">
                                        <option *ngFor="let item of SerivceTypeList" [value]="item.id">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </div>


                                <div class="col-md-4">
                                    <label class="mb-0" for="MethodologyId">
                                        {{ "Methodology" }}
                                    </label>

                                    <select formControlName="MethodologyId" class="form-control form-control-sm col-md-12"
                                        id="MethodologyId">
                                        <option *ngFor="let item of MethodologyList" [value]="item.id">
                                            {{ item.name }}
                                        </option>
                                    </select>

                                </div>

                                <div class="col-md-4">
                                    <label class="mb-0" for="FromDate">From Date</label>
                                    <input type="date" formControlName="FromDate" class="form-control form-control-sm  mb-2"
                                        id="FromDate" />
                                </div>

                            </div>

                            <div class="row mt-1 mx-2">

                                <div class="col-md-6">
                                    <label class="mb-0" for="ToDate">To Date</label>
                                    <input type="date" formControlName="ToDate" class="form-control form-control-sm  mb-2"
                                        id="ToDate" />
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">

                                        <label class="mb-0" for="ApplicationDate">Application Date</label>
                                        <input type="date" formControlName="ApplicationDate"
                                            class="form-control form-control-sm col-md-12" id="ApplicationDate" />
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="card">

                            <b> <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" data-toggle="tab"
                                    role="tab" style="text-decoration: underline" aria-controls="nav-profile"
                                    aria-selected="false">PLANNING: </a></b>
                            <div class="container-fluid mb-2">

                                <div class="row mx-2">
                                    <div class="col-md-4">
                                        <label class="mb-0" for="NoOfMd">No Of MD</label>
                                        <input type="text" formControlName="NoOfMd" class="form-control form-control-sm col-md-12"
                                            id="NoOfMd" />

                                    </div>
                                    <div class="col-md-4">
                                        <label class="mb-0" for="RequestOfSiteId">Request Of Site</label>
                                        <select formControlName="RequestOfSiteId" class="form-control form-control-sm col-md-12"
                                            id="RequestOfSiteId">
                                            <option *ngFor="let item of RequestOfSiteList" [value]="item.id">
                                                {{ item.name }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="mb-0" for="ModuleVersionId">Module Version</label>
                                        <select formControlName="ModuleVersionId" class="form-control form-control-sm col-md-12"
                                            id="ModuleVersionId">
                                            <option *ngFor="let item of ModuleVersionList" [value]="item.id">
                                                {{ item.name }}
                                            </option>
                                        </select>

                                    </div>


                                </div>
                                <div class="row  mt-1 mx-2">
                                    <div class="col-md-4">
                                        <label class="mb-0">
                                            Body Select Date
                                        </label>
                                        <input type="date" formControlName="BodySelectDate"
                                            class="form-control form-control-sm col-md-12" id="BodySelectDate" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="mb-0" for="ModuleShareId">
                                            {{ "Module Share " }}
                                        </label>
                                        <select formControlName="ModuleShareId" class="form-control form-control-sm col-md-12"
                                            id="ModuleShareId">
                                            <option *ngFor="let item of ModuleShareList" [value]="item.id">
                                                {{ item.name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="mb-0">
                                            Module Year
                                        </label>
                                        <input type="number" formControlName="ModuleYear"
                                            onKeyPress="if(this.value.length==4) return false;"
                                            class="form-control form-control-sm col-md-12" id="ModuleYear" />
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="card">

                            <b> <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab"
                                    data-toggle="tab" role="tab" style="text-decoration: underline"
                                    aria-controls="nav-profile" aria-selected="false">Annex-Higg Index: </a></b>

                            <div class="row mt-1 mx-2">
                                <div class="col-md-6">
                                    <label class="mb-0" for="AssessmentCompletedId">
                                        {{ "Is Self Assessment Completed in Higg.org?" }}
                                    </label>

                                    <select formControlName="AssessmentCompletedId"
                                        class="form-control form-control-sm col-md-12" id="AssessmentCompletedId">
                                        <option *ngFor="let item of AssessmentCompletedList" [value]="item.id">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class="mb-0" for="CompletedModuleList">
                                        {{ "Completed Module" }}
                                    </label>

                                    <select formControlName="CompletedModuleId"
                                        class="form-control form-control-sm col-md-12" id="CompletedModuleId">
                                        <option *ngFor="let item of CompletedModuleList" [value]="item.id">
                                            {{ item.name }}
                                        </option>
                                    </select>

                                </div>
                            </div>



                            <div class="row mt-1 mx-2">

                                <div class="col-md-6">
                                    <label class="mb-0" for="EffluentTreatmentPlantId">
                                        {{ "Does your Facility have Effluent Treatment Plant(ETP)?" }}
                                    </label>

                                    <select formControlName="EffluentTreatmentPlantId"
                                        class="form-control form-control-sm col-md-12" id="EffluentTreatmentPlantId">
                                        <option *ngFor="let item of EffluentTreatmentPlantList" [value]="item.id">
                                            {{ item.name }}
                                        </option>
                                    </select>

                                </div>

                                <div class="col-md-6">
                                    <label class="mb-0" for="ManufacturingProcessess">Manufacturing Processes Under
                                        Bussiness
                                        License</label>
                                    <textarea type="text" formControlName="ManufacturingProcessess"
                                        class="form-control form-control-sm  mb-2 col-md-12"
                                        id="ManufacturingProcessess"></textarea>
                                </div>

                            </div>


                            <div class="row mt-1 mx-2">


                                <div class="col-md-4">
                                    <div class="form-group">

                                        <label for="file">Evidence File</label>
                                        <input type="file" id="File" (change)="handlefileInputHigg($event)" name="File"
                                            formControlName="File">
                                    </div>

                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">

                                        <label for="file">Contract Form</label>
                                        <input type="file" id="File" (change)="handleContractfileInputhigg($event)" name="File"
                                            formControlName="File">
                                    </div>

                                </div>
                            </div>

                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="close()">
                        Close
                    </button>
                    <button type="button" class="btn-success btn" (click)="onSubmitChangeRequest()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
