<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab"
       data-toggle="tab"  role="tab" 
       aria-controls="nav-home" aria-selected="true" >List View</a>
      <a class="nav-item nav-link " id="nav-profile-tab" 
      [routerLink]="['/app/pages/security-module/roles-with-permission-authorizer']"
       data-toggle="tab" href="#nav-profile" role="tab" 
        style="color: darkblue;"aria-controls="nav-profile" aria-selected="false">Role Authorizer</a>
     
    </div>
</nav>
<!-- <section class="content-header pt-0 pb-0 mt-0 mx-0 mb-0 md-0">
    <div class="container-fluid  mx-0 px-0 mx-0 mb-0">
      
        <div class="row md-0 mb-1 mt-0">
            <div class="col-sm-12 px-0 ">
                <div class="alert alert-info alert-dismissible rounded-0"  >
                    <h6><i class="fa fa-database"></i>Task Board</h6>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="content px-2 mt-3">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control" name="keyword" [placeholder]="'Search'" />
                            <div class="input-group-prepend">
                                <button type="button" class="btn bg-blue">
                                    <i class="fas fa-search"></i>
                                </button>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead class="bg-light">
                                <tr>
                                    <th class="w-25">Code#</th>
                                    <th class="w-25">Name</th>
                                    <th class="px-4">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tenant of approval">
                                    <td>{{ tenant.dencode }}</td>
                                    <td>{{ tenant.certificate }}</td>
                                    <td>
                                        <button class="btn btn-sm mx-2">
                                            <i class="fas fa-edit text-primary"></i>
                                        </button>
                                        <button class="btn btn-sm mx-2">
                                            <i class="fas fa-eye text-secondary"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>