<section class="bg-dark text-white py-3">
    <div class="container text-center">
        <h4>MASTER SETUP / AUDIT DOCUMENTS</h4>
    </div>
</section>

<form [formGroup]="AuditDocumentForm" #auditDocumentForm="ngForm">

    <section class="content-header pt-0 pb-0 mt-3 mx-0 mb-0 md-0">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">

                    <div class="row md-0 px-3 pb-2 ">

                        <div class="col-md-4">
                            <label for="Code" class="mb-0">Code</label>
                            <input type="text" formControlName="Code" id="Code"
                                class="form-control form-control-sm col-md-12" />
                        </div>

                        <div class="col-md-4">
                            <label class="mb-0" for="Name">Name</label>
                            <input type="text" id="Name" formControlName="Name"
                                class="form-control form-control-sm col-md-12" required
                                [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">
                            <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                                <div *ngIf="f.Name.errors.required"> Name is required</div>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <label for="Description" class="mb-0">Description</label>
                            <input type="text" formControlName="Description" id="Description"
                                class="form-control form-control-sm col-md-12">
                        </div>

                    </div>
                    <div class="row mt-1 px-2">
                        <div class="col-md-4">
                            <label for="IsActive" class="mb-0">
                                {{"Status"}}
                            </label>
                            <select class="form-control form-control-sm col-md-12" required id="isActive"
                                formControlName="IsActive" required
                                [ngClass]="{'is-invalid':submitted &&f.isActive.errors}">
                                <option *ngFor="let item of StatusList" [value]="item.id">
                                    {{ item.name }}
                                </option>
                            </select>
                            <div *ngIf="submitted && f.IsActive.errors" class="invalid-feedback">
                                <div *ngIf="f.IsActive.errors.required">Status is required</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <button type="button"
                        class="btn-sm btn btn-primary float-right mx-0 px-4 mt-2 pt-2 pb-2 mt-3 "  (click)="NewRecord()">New</button>
                            <button type="button"
                                class="btn-sm btn-success btn float-right mx-1 px-4 mt-2 pt-2 pb-2 mt-3"
                                (click)="onSubmit()">Submit</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container-fluid mt-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body table-responsive p-0">
                            <dx-data-grid id="dataGrid" [rowAlternationEnabled]="true" [showRowLines]="true"
                                [showColumnLines]="true" [allowColumnReordering]="true" [dataSource]="auditdocumentsList | paginate
                        : {
                            id: 'server',
                            itemsPerPage: this.pagedDto.pageSize,
                            currentPage: this.pagedDto.page,
                            totalItems: this.totalCount
                          }" keyExpr="id">
                                <dxo-scrolling mode="virtual"></dxo-scrolling>


                                <dxi-column dataField="code" caption="Code"></dxi-column>
                                <dxi-column dataField="name" caption="Name"></dxi-column>
                                <dxi-column dataField="description" caption="Description"></dxi-column>
                                <dxi-column dataField="isActive" caption="IsActive"></dxi-column>

                                <dxi-column type="buttons" caption="Action">
                                    <dxi-button icon="edit" [onClick]="edit" [(visible)]="isAddShown"></dxi-button>
                                    <dxi-button icon="deleterow" [onClick]="delete" [(visible)]="isAddShown"></dxi-button>

                                </dxi-column>
                                
                            </dx-data-grid>
                            <div class="card-footer table-card-footer pb-0 border-top">
                                <div class="row">
                                    <div class="col-sm-2 col-12 text-sm-left text-center">
                                        <button class="btn btn-sm">
                                            <i class="fas fa-redo text-info"(click)="reloadGrid()"></i>
                                       
                                       
                                        </button>
            
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        
                                    </div>
                                    <div class="col-sm-4 col-12">
                                        <pagination-controls id="server" (pageChange)="onTableDataChange($event)">
                                        </pagination-controls>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</form>