<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">

        <!-- <a class="nav-item nav-link" id="nav-profile-tab" href="#" style=" color: white;background-color: #304570;border-color: whitesmoke;"
        (click)="editRecord('/app/pages/security-module/user-remarks?')"

        data-toggle="tab" role="tab"
        aria-controls="nav-profile" aria-selected="false">Authorizer Remarks </a> -->
        <a class="nav-item nav-link" id="nav-profile-tab" href="#" style=" color: white;background-color: #304570;border-color: whitesmoke;"
        (click)="editRecord('/app/pages/security-module/user-standards?')"

        data-toggle="tab" role="tab"
        aria-controls="nav-profile" aria-selected="false">Standards </a>


    <a class="nav-item nav-link" id="nav-profile-tab" href="#" style=" color: white;background-color: #304570;border-color: whitesmoke;"
    (click)="editRecord('/app/pages/security-module/user-declaration?')"

         data-toggle="tab" role="tab"
        aria-controls="nav-profile" aria-selected="false">Declaration </a>
        <a class="nav-item nav-link" id="nav-profile-tab" href="#" style=" color: white;background-color: #304570;border-color: whitesmoke;"
        (click)="editRecord('/app/pages/security-module/user-academic?')"

             data-toggle="tab" role="tab"
            aria-controls="nav-profile" aria-selected="false"> Academic</a>

        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"  role="tab" aria-controls="nav-home" aria-selected="true">Professional</a>




    <a class="nav-item nav-link" id="nav-profile-tab" href="#" style=" color: white;background-color: #304570;border-color: whitesmoke;"
    (click)="editRecord('/app/pages/security-module/user-employment?')"
        data-toggle="tab" role="tab"
        aria-controls="nav-profile" aria-selected="false">Employment </a>

    <a class="nav-item nav-link" id="nav-profile-tab" href="#" style=" color: white;background-color: #304570;border-color: whitesmoke;"

        (click)="editRecord('/app/pages/security-module/user-cpd?')"
         data-toggle="tab" role="tab"
        aria-controls="nav-profile" aria-selected="false">CPD </a>

    <a class="nav-item nav-link" id="nav-profile-tab" href="#" style=" color: white;background-color: #304570;border-color: whitesmoke;"

    (click)="editRecord('/app/pages/security-module/user-consultancy?')"
       data-toggle="tab" role="tab"
        aria-controls="nav-profile" aria-selected="false">Consultancy </a>

    <a class="nav-item nav-link" id="nav-profile-tab" href="#" style=" color: white;background-color: #304570;border-color: whitesmoke;"
    (click)="editRecord('/app/pages/security-module/user-audits?')"
        data-toggle="tab" role="tab"
        aria-controls="nav-profile" aria-selected="false">Audits </a>

    <a class="nav-item nav-link" id="nav-profile-tab" href="#" style=" color: white;background-color: #304570;border-color: whitesmoke;"
    (click)="editRecord('/app/pages/security-module/user-auditor?')"
      data-toggle="tab" role="tab"
        aria-controls="nav-profile" aria-selected="false">Auditor Nace </a>
    </div>
  </nav>



  <section class="content-header pt-0 pb-0 mt-0 mx-0 mb-0 md-0">
    <div class="container-fluid mx-0 px-0 mx-0 mb-0">

        <!-- <div class="row md-0 mb-1 mt-0">
            <div class="col-sm-12 px-0">
                <div class="alert alert-info alert-dismissible">
                    <h6><i class="fa fa-database"></i> Task Board</h6>
                </div>
            </div>
        </div> -->
    </div>
</section>
<form [formGroup]="UserProfessionalForm" #userProfessionalForm="ngForm">
<section class="content pt-0 pb-0 mt-3 mx-2 mb-0 md-0">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- <div class="input-group">
                            <input type="text" class="form-control" name="keyword" [placeholder]="'Search'" />
                            <div class="input-group-prepend">
                                <button type="button" class="btn bg-blue">
                                    <i class="fas fa-search"></i>
                                </button>

                            </div>
                        </div> -->
                        <div class="container-fluid mb-2">
                            <div class="row mx-2">
                                <div class="col-md-4" style="font-size:large;">

                                    <label class="mb-0" for="Code" style="color: black;">
                                        {{ "User Name : "}}
                                        <u><b style="color:blue;">{{UserName}}</b></u>
                                    </label>



                                </div>

                            </div>
                        </div>
                        <br>
                        <div class="container-fluid mb-2">
                            <div class="row mx-2">
                                <div class="col-md-8">
                                    <label class="mb-0" for="Body">Body</label>
                                    <input type="text" formControlName="Body"class="form-control form-control-sm col-md-12" id="Body" required [ngClass]="{ 'is-invalid': submitted && f.Body.errors }"/>
                                    <div *ngIf="submitted && f.Body.errors" class="invalid-feedback">
                                        <div *ngIf="f.Body.errors.required">Body is required</div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <label class="mb-0" for="Year">Year</label>
                                    <input type="text"formControlName="Year" class="form-control form-control-sm col-md-12" id="Year" required [ngClass]="{ 'is-invalid': submitted && f.Year.errors }"/>
                                    <div *ngIf="submitted && f.Year.errors" class="invalid-feedback">
                                        <div *ngIf="f.Year.errors.required">Year is required</div>
                                    </div>
                                </div>


                            </div>
                            <div class="row  mt-1 mx-2">
                                <div class="col-md-8">
                                    <label class="mb-0" for="Qualification">Qualification</label>
                                    <input type="text" formControlName="Qualification"class="form-control form-control-sm col-md-12" id="Qualification" required [ngClass]="{ 'is-invalid': submitted && f.Qualification.errors }"/>
                                    <div *ngIf="submitted && f.Qualification.errors" class="invalid-feedback">
                                        <div *ngIf="f.Qualification.errors.required">Year is required</div>
                                    </div>
                                </div>
                                <div class="col-md-4">


                                        <label class="mb-0" for="file"> Document (PDF)</label>
                                        <input type="file" id="File" (change)="handlefileInput($event)" name="File" formControlName="File">

                                </div>

                            </div>
                            <div class="row mt-1 mx-2">
                                <div class="col-md-8">
                                    <label class="mb-0" for="Details">Details</label>
                                    <input type="text"formControlName="Details" class="form-control form-control-sm col-md-12" id="Details" />
                                </div>

                                <div class="col-md-4">

                                    <br/>
                                    <button class="btn-sm btn-success btn col-md-4 ml-1 float-right" (click)="onSubmit()">
                                        Save
                                    </button>

                                    <button class="btn-sm btn btn-dark col-md-4 ml-1 float-right"(click)="ClearAllFielsd()">
                                        New
                                    </button>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-body table-responsive p-0">



                    <dx-data-grid id="dataGrid"  [rowAlternationEnabled]="true" [showRowLines]="true"
                        [showColumnLines]="true" [allowColumnReordering]="true" [dataSource]="UserProsissionalList | paginate
                        : {
                            id: 'server',
                            itemsPerPage: this.pagedDto.pageSize,
                            currentPage: this.pagedDto.page,
                            totalItems: this.totalCount
                          }"
                        keyExpr="id" >
                        <dxo-scrolling mode="virtual"></dxo-scrolling>

                        <!-- <dxo-search-panel [visible]="true" [width]="240" placeholder="Search...">
                        </dxo-search-panel> -->
                        <dxi-column   dataField="body"
                        caption="Body" ></dxi-column>
                        <dxi-column   dataField="qualification"
                        caption="Qualification"></dxi-column>
                        <dxi-column   dataField="details"
                        caption="Details"></dxi-column>

                        <dxi-column   dataField="year"  alignment='left'
                        caption="Year"></dxi-column>

                        <dxi-column type="buttons"caption="Download">
                        <dxi-button
                        hint="Download File"
                        icon="download"
                       [onClick]="DownloadProfesional"
                       ></dxi-button>
                       </dxi-column>
                          <dxi-column type="buttons"caption="Action"  >
                            <dxi-button   icon="edit"
                            [onClick]="edit"
                            hint="Edit"
                            [(visible)]="editVsible"
                            ></dxi-button>

                            <dxi-button   icon="deleterow"
                             [onClick]="delete"
                             [(visible)]="editVsible"
                             hint="Delete"
                             ></dxi-button>

                          </dxi-column>






                    </dx-data-grid>
                    <div class="card-footer table-card-footer pb-0 border-top">
                        <div class="row">
                            <div class="col-sm-2 col-12 text-sm-left text-center">
                                <button class="btn btn-sm">
                                    <i class="fas fa-redo text-info"(click)="reloadGrid()"></i>


                                </button>

                            </div>
                            <div class="col-sm-6 col-12">
                                <!-- <pagination-controls id="server" (pageChange)="onTableDataChange($event)">
                                </pagination-controls> -->
                            </div>
                            <div class="col-sm-4 col-12">
                                <pagination-controls id="server" (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                            <!-- <div class="col-sm-2 col-12 ">

                                <div class="d-flex flex-row-reverse bd-highlight mb-2">
                                    <div class="p-2 bd-highlight">
                                        <select (change)="onTableSizeChange($event)" class="custom-select">
                                            <option *ngFor="let size of tableSizes" [ngValue]="size">
                                                {{ size }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <!-- <dx-tree-list>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]"
                            [showNavigationButtons]="true">
                        </dxo-pager>
                    </dx-tree-list> -->




                </div>
            </div></div>
        </div>
    </div>
</section>
</form>
<br>

