
<section class="content-header pt-0 pb-0 mt-0 mx-0 mb-0 md-0">
    <div class="container-fluid mx-0 px-0 mx-0 mb-0">

        <div class="row md-0 mb-1 mt-0">
            <div class="col-sm-12 px-0">
                <div class="alert alert-info alert-dismissible">
                    <h6>MASTER STANDARD SUB CLAUSE</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<form [formGroup]="StandardSubClause" #standardSubClause="ngForm">


    <section class="content-header pt-0 pb-0 mt-3 mx-0 mb-0 md-0">
    
    
    
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
    
                  <!-- <form [formGroup]> -->
                        <div class="row md-0 px-3 pb-2 ">
                            <div class="col-md-4">
                        
                                <label class="mb-0 mx-2" for="Standard">
                                    Standard
                                </label>
                                <select class="form-control form-control-sm col-md-12 mx-2" formControlName="Standard" required
                                id="Standard" required  (change)="GetMainClause($event.target.value)"
                                >
                                <option *ngFor="let items of CertificationList" [value]="items.id">
                                    {{ items.name }}
                                </option>
                              </select>
                              <div  class="invalid-feedback">
                                <div >Standard is required</div>
                              </div>
                            
                            </div>
                            
                            <div class="col-md-4">
                        
                                <label class="mb-0 mx-2" for="MainClause">
                                    Main Clause
                                </label>
                                <!-- <select class="form-control form-control-sm col-md-12 mx-2" formControlName="MainClause"
                                id="MainClause"
                                (change)="GetMainClause($event.target.value)">
                                <option *ngFor="let item of MainClauseList" [value]="item.id">
                                    {{ item.name }}
                                </option>
                            </select> -->

                            <select class="form-control form-control-sm col-md-12 mx-2" formControlName="MainClause"
                                id="MainClause" required>
                                <option *ngFor="let item of MainClauseList" [value]="item.id">
                                    {{ item.mainClauseName }}
                                </option>
                            </select>
                              <div  class="invalid-feedback">
                                <div >Main Clause is required</div>
                              </div>
                            
                            </div>
                            

                            <div class="col-md-4">
                                <label class="mb-0" for="SubCaluse">Sub Clause</label>
                                <input type="text" formControlName="SubCaluse" class="form-control form-control-sm col-md-12" id="SubCaluse" />
                            </div>
                            
    
                        </div>
                   <!-- //</form> -->
                   <div class="row md-0 px-4 pb-2 ">
                    <div class="col-md-4">
                    
                      
                            <label class="mb-0" for="Requirement">Requirement</label>
                            <input type="text" formControlName="Requirement" class="form-control form-control-sm col-md-12" id="Requirement" />
                        
                        
                    
                    
                </div>
                    <div class="col-md-8">
                        <button type="button"
                        class="btn-sm btn btn-primary float-right mx-1 px-4 mt-2 pt-2 pb-2 mt-3 "  >New</button>
                    <button type="button"
                        class="btn-sm btn-success btn float-right mx-1 px-4 mt-2 pt-2 pb-2 mt-3" (click)="submit()">Submit</button>
                    
                    </div>
                </div>
                </div>
            </div>
        </div>
    
        <div class="container-fluid mt-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                    <div class="card-body table-responsive p-0">
        
                      
        
                        <dx-data-grid id="dataGrid"  [rowAlternationEnabled]="true" [showRowLines]="true"
                            [showColumnLines]="true" [allowColumnReordering]="true"
                            [dataSource]="gridData | paginate
                            : {
                                id: 'server',
                                itemsPerPage: this.pagedDto.pageSize,
                                currentPage: this.pagedDto.page,
                                totalItems: this.totalCount
                              }" keyExpr="id" >
                            <dxo-scrolling mode="virtual"></dxo-scrolling>
    
                            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search...">
                            </dxo-search-panel> 
                            <dxi-column   dataField="standardName"  
                            caption="Standard Name" ></dxi-column>
                            <dxi-column   dataField="mainClauseName"  
                            caption="Main Clause" ></dxi-column>
                             <dxi-column   dataField="subClauseName"  
                            caption="Sub Clause"></dxi-column> 
                            
                            <dxi-column   dataField="requirement"  
                            caption="Requirement"></dxi-column>
                           
                           
        
                    
                              <dxi-column type="buttons"caption="Action"  >  
                                    <dxi-button   icon="edit" [onClick]="edit"
                                    hint="Edit Record"
                                    
                                    ></dxi-button>  
    
                                    <dxi-button   icon="deleterow"
                                    hint="Delete Record" [onClick]="delete"
                              
                                     ></dxi-button>
                          
                                
                                <!-- <i class="fas fa-tasks"></i> -->
                                <!-- <dxi-button
                                hint="Download File"
                                icon="download"
                               [onClick]="Downloadfile"></dxi-button> -->
                               <!-- <dxi-button   icon="edit"
                               [routerLink]='["/app/pages/stock-management/library"]'
                                 [(visible)]="isAddShown"
                                 ></dxi-button>   -->
                              </dxi-column>   
                             
                             
                      
        
        
        
                        </dx-data-grid>
                        <div class="card-footer table-card-footer pb-0 border-top">
                            <div class="row">
                                <div class="col-sm-2 col-12 text-sm-left text-center">
                                    <button class="btn btn-sm">
                                        <i class="fas fa-redo text-info"></i>
                                   
                                   
                                    </button>
        
                                </div>
                                <div class="col-sm-6 col-12">
                                    <!-- <pagination-controls id="server" (pageChange)="onTableDataChange($event)">
                                    </pagination-controls> -->
                                </div>
                                <div class="col-sm-4 col-12">
                                    <pagination-controls id="server" >
                                    </pagination-controls>
                                </div>
                                <!-- <div class="col-sm-2 col-12 ">
        
                                    <div class="d-flex flex-row-reverse bd-highlight mb-2">
                                        <div class="p-2 bd-highlight">
                                            <select (change)="onTableSizeChange($event)" class="custom-select">
                                                <option *ngFor="let size of tableSizes" [ngValue]="size">
                                                    {{ size }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <!-- <dx-tree-list>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]"
                                [showNavigationButtons]="true">
                            </dxo-pager>
                        </dx-tree-list> -->
        
        
        
        
                    </div>
                </div></div>
            </div>
        </div>
       
    
    </section> </form> <br> <br>