<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-profile-tab"
            [routerLink]="['/app/pages/security-module/roles-with-permission-task-board']" style="color: darkblue;"
            data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" dis>List
            View</a>

        <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" data-toggle="tab" role="tab"
            aria-controls="nav-profile" aria-selected="false">Role Maker</a>

    </div>
</nav>



<section class="content-header pt-0 pb-0 mt-3 mx-0 mb-0 md-0" id="Roles-With-Permissions">



    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row md-0 mb-1 mt-0">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control" name="keyword" [placeholder]="'Search'" />
                            <div class="input-group-prepend">
                                <button type="button" class="btn bg-blue">
                                    <i class="fas fa-search"></i>
                                </button>
                                <!-- (click)="onSearch()"  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form [formGroup]="RoleForm">
                <div class="row md-0 px-3 pb-2 ">

                    <div class="col-md-5">
                        <label class="mb-0" for="indent">Code</label>
                        <input type="text" readonly class="form-control-plaintext"
                            class="form-control form-control-sm col-md-12" id="indent" />
                    </div>
                    <div class="col-md-5 mb-1">
                        <label class="mb-0" for="Indent">
                            Roll
                        </label>
                        <select class="form-control form-control-sm col-md-12" id="denomination">
                            <option value="volvo">Super Admin</option>
                            <option value="volvo">Schema Manager</option>
                            <option value="volvo">Regional Manager</option>
                        </select>
                        <!-- <input type="text" formControlName="name"  class="form-control col-md-12 " id="indent" /> -->
                    </div>
                    <!-- <div class="col-md-2 mb-1 mt-4 ">
                            <button type="button" (click)="onSubmit()" class="btn-sm btn btn-info float-right mx-1 pt-2 px-3">Submit</button>
                        </div> -->
                    <div class="col-md-2 mb-1">
                        <label class="mb-0" for="denomination">
                            {{ "Category" }}
                        </label>
                        <select class="form-control form-control-sm col-md-12" id="denomination">
                            <option value="volvo">SLCP</option>
                            <option value="volvo">Higg</option>
                            <option value="volvo">ISO900</option>
                        </select>
                        <!-- <select class="form-control col-sm-8"  (change)="SearchProduct($event.target.value)">  
                                <option *ngFor="let prod of ProductHeader" [value]="prod.name" >{{prod.name}} </option>  
                            </select> -->
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="container-fluid mt-2">
        <div class="row md-0 mb-1 mt-0">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-2 px-4">
                        <div class="row mt-4 mt-4 mb-1">
                            <label for="exampleFormControlInput1 mb-4 mt-2 px-5 mx-5">Select All</label>
                            <input type="checkbox" formControlName="IsActive" required
                                class="form-control-sm px-2 mx-2 mb-2 mt-0 " id="exampleFormControlInput1">
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead class="bg-light">
                                <tr>
                                    <th class="w-25">Permissions</th>
                                    <th class="w-25">List</th>
                                    <th class="w-25">Create</th>
                                    <th class="w-25">Update</th>
                                    <th class="w-25">Delete</th>
                                    <th class="w-25 px-5">Authorize</th>
                                    <th class="w-25 px-5">Attachments</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let prod of ProductDetails">
                                        <td>{{ prod.Permissions }}</td>
                                        <td>{{ prod.List }}</td>
                                        <td>{{ prod.Create }}</td>
                                        <td>{{ prod.Update}}</td>
                                        <td>{{ prod.Delete }}</td>
                                        <td>{{ prod.Authorize}}</td>
                                        <td>{{ prod.Attachments }}</td>
                                    </tr > -->
                                <tr>

                                    <td> <label>Application</label></td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"> </h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-5">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-5">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>

                                </tr>



                                <tr>
                                    <td> <label>Proposal</label></td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"> </h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-5">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-5">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>

                                </tr>


                                <tr>
                                    <td> <label>Aggrement</label></td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"> </h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-5">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-5">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>

                                </tr>


                                <tr>
                                    <td> <label>Audit Plan</label></td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"> </h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-5">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-5">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>

                                </tr>

                                <tr>
                                    <td> <label>Audit</label></td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"> </h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-5">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-5">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>

                                </tr>

                                <tr>
                                    <td> <label>Review</label></td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"> </h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-5">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-5">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td> <label>Submit</label></td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"> </h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-1">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-5">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox mx-5">
                                            <input type="checkbox" class="custom-control-input" />
                                            <h6 class="custom-control-label"></h6>
                                        </div>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <br> <br>