<!-- <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link" id="nav-profile-tab" href="#"
      [routerLink]="['/app/pages/security-module/user-with-locations-task-board']" data-toggle="tab" role="tab"
      aria-controls="nav-profile" aria-selected="false" style="color: darkblue;">List View</a>

    <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile"
      aria-selected="false">User </a>
     <a class="nav-item nav-link" id="nav-home-tab" [routerLink]="['/app/pages/security-module/userlocation-tab']"
      data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true" style="color: darkblue;">User
      Location</a> 
  </div>
</nav> -->

<form [formGroup]="SecUserForm" #secUserForm="ngForm">
  <section class="content-header pt-0 pb-0 mt-0 mx-0 mb-0 md-0">
    <div class="container-fluid mx-0 px-0 mx-0 mb-0">

      <div class="row md-0 mb-1 mt-0">
        <div class="col-sm-12 px-0">
          <div class="alert alert-info alert-dismissible">
            <h6>User Management | User Details</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content pt-0 pb-0 mx-2 mb-0 md-0">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-12">
              <!-- <div class="input-group">
                          <input type="text" class="form-control" name="keyword" [placeholder]="'Search'" />
                          <div class="input-group-prepend">
                              <button type="button" class="btn bg-blue">
                                  <i class="fas fa-search"></i>
                              </button>
                              
                          </div>
                      </div> -->

              <div class="row mx-2">
                <div class="col-md-4">
                  <label class="mb-0" for="PrefixId">
                    {{ "Prefix" }}
                  </label>
                  <!-- <select class="form-control form-control-sm col-md-12" id="denomination">
                  <option value="volvo">Mr</option>
                </select> -->
                  <select class="form-control form-control-sm col-md-12 " formControlName="PrefixId" id="PrefixId"
                    required [ngClass]="{ 'is-invalid': submitted && f.PrefixId.errors }">
                    <option *ngFor="let item of PrefixList" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                  <div *ngIf="submitted && f.PrefixId.errors" class="invalid-feedback">
                    <div *ngIf="f.PrefixId.errors.required">Prefix is required</div>
                  </div>

                </div>
               
                <div class="col-md-4">
                  <label class="mb-0" for="FullName">Full Name</label>
                  <input type="text" formControlName="FullName" class="form-control form-control-sm col-md-12"
                    id="FullName" placeholder="Full Name" required
                    [ngClass]="{ 'is-invalid': submitted && f.FullName.errors }">
                  <div *ngIf="submitted && f.FullName.errors" class="invalid-feedback">
                    <div *ngIf="f.FullName.errors.required">Full Name is required</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="mb-0" for="UserName">Sur Name</label>
                  <input type="text" formControlName="FirstName" class="form-control form-control-sm col-md-12"
                    id="FirstName" placeholder="Sur Name" required
                    [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" />
                  <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                    <div *ngIf="f.FirstName.errors.required">Sur Name is required</div>
                  </div>
                </div>
              </div>
              <div class="row  mt-1 mx-2">
                <div class="col-md-4">
                  <label class="mb-0" for="Email">Email</label>
                  <!-- <input type="text" class="form-control form-control-sm col-md-12" id="indent" /> -->
                  <input type="email" formControlName="Email" class="form-control form-control-sm col-md-12" id="Email"
                    placeholder="Email Address" required [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
                  <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                    <div *ngIf="f.Email.errors.required">Email is required</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="mb-0" for="Address1">Address-1</label>
                  <input type="text" formControlName="Address1" class=" form-control form-control-sm col-md-12"
                    id="Address1" required [ngClass]="{ 'is-invalid': submitted && f.Address1.errors }" />
                  <div *ngIf="submitted && f.Address1.errors" class="invalid-feedback">
                    <div *ngIf="f.Address1.errors.required">Address-1 is required</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="mb-0" for="Address2">Address-2</label>
                  <input type="email" formControlName="Address2" class="form-control form-control-sm col-md-12"
                    id="Address2" />
                </div>
              </div>
              <div class="row  mt-1 mx-2">

              

                <div class="col-md-4">
                  <label class="mb-0" for="CountryId">
                    {{ "Country" }}
                  </label>
                  <select class="form-control form-control-sm col-md-12 " formControlName="CountryId" id="CountryId"
                    required [ngClass]="{ 'is-invalid': submitted && f.CountryId.errors }"
                    (change)="loadState($event.target.value)">
                    <option *ngFor="let item of CountryList" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                  <div *ngIf="submitted && f.CountryId.errors" class="invalid-feedback">
                    <div *ngIf="f.CountryId.errors.required">Country is required</div>
                  </div>
                </div>


            

                <div class="col-md-4">
                  <label class="mb-0" for="StateId">
                    {{ "State" }}
                  </label>
                  <select class="form-control form-control-sm col-md-12 " formControlName="StateId" id="StateId"
                    required [ngClass]="{ 'is-invalid': submitted && f.StateId.errors }"
                    (change)="loadCities($event.target.value)">
                    <option *ngFor="let item of StateList" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                  <div *ngIf="submitted && f.StateId.errors" class="invalid-feedback">
                    <div *ngIf="f.StateId.errors.required">State is required</div>
                  </div>
                </div>





                <div class="col-md-4">
                  <label class="mb-0" for="CityId">
                    {{ "City" }}
                  </label>
                  <select class="form-control form-control-sm col-md-12 " formControlName="CityId" id="CityId" required
                    [ngClass]="{ 'is-invalid': submitted && f.CityId.errors }">
                    <option *ngFor="let item of CityList" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                  <div *ngIf="submitted && f.CityId.errors" class="invalid-feedback">
                    <div *ngIf="f.CityId.errors.required">City is required</div>
                  </div>
                </div>



              </div>

            
              <div class="row  mt-1 mx-2">
                <div class="col-md-4">
                  <label class="mb-0" for="indent">Postal Code</label>
                  <input type="text" formControlName="PostalCode" class="form-control form-control-sm col-md-12"
                    id="PostalCode" />
                </div>
                <div class="col-md-4">
                  <label class="mb-0" for="indent">Telephone-No</label>
                  <input type="text" formControlName="Telephone" class="form-control form-control-sm col-md-12"
                    id="Telephone" />

                </div>
                <div class="col-md-4">
                  <label class="mb-0" for="indent">Mobile-No</label>
                  <input type="text" formControlName="Mobile" class="form-control form-control-sm col-md-12"
                    id="Mobile" />
                  <!-- <div *ngIf="submitted && f.Mobile.errors" class="invalid-feedback">
                  <div *ngIf="f.Mobile.errors.required">Mobile-No is required</div>
              </div> -->
                </div>
              </div>

              <div class="row  mt-1 mx-2">
                <div class="col-md-4">
                  <label class="mb-0" for="indent">ID Number</label>
                  <input type="text" formControlName="Code" class="form-control form-control-sm col-md-12" id="Code" />

                </div>

                <div class="col-md-4">
                  <label class="mb-0" for="indent">Date Of Birth</label>
                  <input type="date" formControlName="DateofBirth" class="form-control form-control-sm col-md-12"
                    id="DateofBirth" />
                  <!-- <div *ngIf="submitted && f.DateofBirth.errors" class="invalid-feedback">
                  <div *ngIf="f.DateofBirth.errors.required">Date-Of-Birthis required</div>
              </div> -->
                </div>

                <!-- <div class="col-md-4">
                <label class="mb-0" for="denomination">
                  {{ "Gender" }}
                </label>
                <select class="form-control form-control-sm col-md-12" id="denomination">
                  <option value="volvo">Male</option>
                </select>

              </div> -->
                <div class="col-md-4">
                  <label class="mb-0" for="RegistrationNo">Registration No</label>
                  <input type="text" formControlName="RegistrationNo" class="form-control form-control-sm col-md-12"
                    id="RegistrationNo" />
                </div>
              </div>



              <div class="row  mt-1 mx-2">
                <div class="col-md-4">
                  <label class="mb-0" for="Role">
                    {{ "Role" }}
                  </label>
                  <select formControlName="RoleId" class="form-control form-control-sm col-md-12" id="RoleId" required
                    [ngClass]="{ 'is-invalid': submitted && f.RoleId.errors }">
                    <option *ngFor="let item of roleList" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                  <div *ngIf="submitted && f.RoleId.errors" class="invalid-feedback">
                    <div *ngIf="f.RoleId.errors.required">Role is required</div>
                  </div>
                </div>

                <div class="col-md-4">
                  <label class="mb-0" for="DepartmentId">Department</label>
                  <select class="form-control form-control-sm col-md-12 " formControlName="DepartmentId"
                    id="DepartmentId" required [ngClass]="{ 'is-invalid': submitted && f.DepartmentId.errors }">
                    <option *ngFor="let item of departList" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                  <div *ngIf="submitted && f.DepartmentId.errors" class="invalid-feedback">
                    <div *ngIf="f.DepartmentId.errors.required">Department is required</div>
                  </div>
                </div>

                <div class="col-md-4">
                  <label class="mb-0" for="UserTypeId">
                    {{ "User Type" }}
                  </label>
                  <select formControlName="UserTypeId" class="form-control form-control-sm col-md-12" id="UserTypeId"
                    required [ngClass]="{ 'is-invalid': submitted && f.UserTypeId.errors }">
                    <option *ngFor="let item of UserTypeList" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                  <div *ngIf="submitted && f.UserTypeId.errors" class="invalid-feedback">
                    <div *ngIf="f.UserTypeId.errors.required">User Type is required</div>
                  </div>
                </div>
              </div>

              <div class="row  mt-1 mx-2">
               
                <div class="col-md-4">
                  <label class="mb-0" for="IsActive">
                    {{ "Active Status" }}
                  </label>
                  <select formControlName="IsActive" class="form-control form-control-sm col-md-12" id="IsActive"
                    required [ngClass]="{ 'is-invalid': submitted && f.IsActive.errors }">
                    <option *ngFor="let item of ActiveStatusList" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                  <div *ngIf="submitted && f.IsActive.errors" class="invalid-feedback">
                    <div *ngIf="f.IsActive.errors.required">Active is required</div>
                  </div>
                </div>

                <div class="col-md-4">
                  <label class="mb-0" for="ParentAgencyId">
                    {{ "Branch Office" }}
                  </label>
                  <select formControlName="ParentAgencyId" class="form-control form-control-sm col-md-12" id="ParentAgencyId"
                    
                    (change)="loadAllUsers($event.target.value)">
                    <option *ngFor="let item of OrganizationList" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                  
                </div>

                <div class="col-md-4">
                  <label class="mb-0" for="ParentUserId">
                    {{ "Parent User" }}
                  </label>
                  <select formControlName="ParentUserId" class="form-control form-control-sm col-md-12" id="ParentUserId"
                    >
                    <option *ngFor="let item of UsersList" [value]="item.id">
                      {{ item.fullName }}
                    </option>
                  </select>
                  
                </div>

                

              </div>

              <!-- typpeofemrollmeny -->
              <div class="row  mt-1 mx-2">
               
                <div class="col-md-4">
                  <label class="mb-0" for="TypeOfEnrollmentId">
                    {{ "Type Of Enrollment" }}
                  </label>
                  <select formControlName="TypeOfEnrollmentId" class="form-control form-control-sm col-md-12" id="TypeOfEnrollmentId"
                    required [ngClass]="{ 'is-invalid': submitted && f.TypeOfEnrollmentId.errors }">
                    <option *ngFor="let item of TypeOfEnrollmentList" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                  <div *ngIf="submitted && f.TypeOfEnrollmentId.errors" class="invalid-feedback">
                    <div *ngIf="f.TypeOfEnrollmentId.errors.required">Type Of Enrollment is required</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="mb-0" for="indent">Joining Date</label>
                  <input type="date" formControlName="JoiningDate" class="form-control form-control-sm col-md-12"
                    id="JoiningDate" />
                  <!-- <div *ngIf="submitted && f.DateofBirth.errors" class="invalid-feedback">
                  <div *ngIf="f.DateofBirth.errors.required">Date-Of-Birthis required</div>
              </div> -->
                </div>
               

               

                

              </div>
              <div class="row mt-1 px-2">
                <div class="col-md-4">


                  <label for="file"> Photo (.jpg/.png)</label>
                  <!-- <input type="file" id="file"> -->
                  <input type="file" id="PhotoFile" (change)="PhotoFilefileInput($event)" name="PhotoFile"
                    formControlName="PhotoFile">

                </div>

                <div class="col-md-4">


                  <label for="file"> Confidentiality (.pdf)</label>
                  <!-- <input type="file" id="file"> -->
                  <input type="file"  id="ConfidentialityFile" (change)="ConfidentialityFilefileInput($event)"
                    name="ConfidentialityFile" formControlName="ConfidentialityFile">


                </div>

                <div class="col-md-4">


                  <label for="file"> Contract (.pdf)</label>
                  <!-- <input type="file" id="file"> -->
                  <input type="file" id="ContractFile" value="Test" (change)="ContractFileInput($event)" name="ContractFile"
                    formControlName="ContractFile">


                </div>
              </div>
              <div class="row mt-1 px-2">
                <div class="col-md-4">


                  <button type="button" *ngIf="PhotoPath" class="btn-sm btn btn-success float-left mb-2 mt-2"
                    (click)="DownloadImage()"> <i class="fa fa-download"></i>  User Image</button>

                </div>
                <div class="col-md-4">

                  <button type="button" *ngIf="Confidentialitypath" class="btn-sm btn btn-success float-left mb-2 mt-2"
                    (click)="DownloadConfidentially()"> <i class="fa fa-download"></i>  Confidentially</button>

                </div>
                <div class="col-md-4">

                  <button type="button" *ngIf="ContractPath" class="btn-sm btn btn-success float-left mb-2 mt-2"
                    (click)="DownloadContract()"><i class="fa fa-download"></i>  Contract</button>

                </div>
              </div>


           
            <br>


            <b>

              <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" data-toggle="tab" role="tab"
                style="text-decoration: underline" aria-controls="nav-profile" aria-selected="false">Login
                Details:</a></b>

            <div class="row mt-1 px-2">
              <div class="col-md-4">

                <label class="mb-0" for="UserName">User Name</label>
                <input type="text" formControlName="UserName" class="form-control form-control-sm col-md-12"
                  id="UserName" placeholder="User Name" required
                  [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }" />
                <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
                  <div *ngIf="f.UserName.errors.required">Active is required</div>
                </div>
              </div>
              <div class="col-md-4">

                <label class="mb-0" for="Password">Password</label>
                <input type="password" formControlName="Password" class="form-control form-control-sm col-md-12"
                  id="Password" placeholder="Password" />
              </div>

              <div class="col-md-4">

                <label class="mb-0" for="Password">Confirm Password</label>
                <input type="password" class="form-control form-control-sm col-md-12" formControlName="ConfirmPassword"
                  id="ConfirmPassword" placeholder="Confirm Password">
                <span *ngIf="SecUserForm.errors?.invalid">
                  Password doesn't match
                </span>
              </div>


            </div>
            <div class="row mt-1 px-2">


              <div class="col-md-4">

                <label class="mb-0" for="EmailForgotPassword">Email(incase of forgot password)</label>
                <input type="text" formControlName="EmailForgotPassword" class="form-control form-control-sm col-md-12"
                  id="EmailForgotPassword" placeholder="Email(incase of forgot password)" required
                  [ngClass]="{ 'is-invalid': submitted && f.EmailForgotPassword.errors }" />
                <div *ngIf="submitted && f.EmailForgotPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.EmailForgotPassword.errors.required">Active is required</div>
                </div>
              </div>



            </div>
            <div class="row mt-1 px-2">

              <div class="col-md-12">
                <button type="button" class="btn-sm btn-success btn float-right mx-1 px-3 mt-3 pt-2 pb-2"
                  (click)="onRecordSubmit()">Submit</button>
                <button [routerLink]="['/app/pages/security-module/agency-task-board']" data-toggle="tab" role="tab"
                  type="button" class="btn-sm btn btn-dark float-right mx-1 px-4 mt-3 pt-2 pb-2">Back</button>

                <button type="button" (click)="openPopup()"
                  class="btn-sm btn-danger float-right btn mx-1 px-2 mt-3 pt-2 pb-2">Reset Password
                </button>
              </div>
            </div>
            <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Reset Password</h4>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="card mx-2 pt-3 pb-2">
                        <div class="row mx-1">
                          <!-- <div class="col-sm-12"> -->

                          <div class="col-md-11">
                            <label class="mb-0" for="EmailForgotPassword">Email</label>
                            <input type="text" formControlName="EmailForgotPassword"
                              class="form-control float-right  form-control-sm col-md-12" id="EmailForgotPassword" />
                          </div>
                          <div class="col-md-11">
                            <label class="mb-0" for="NewPassword">Password</label>
                            <input type="text" autocomplete="off" formControlName="NewPassword"
                              class="form-control float-right form-control-sm col-md-12" id="NewPassword" />
                          </div>


                          <div class="col-md-11">
                            <label class="mb-0" for="NewConfirmPassword">ConfirmPassword</label>
                            <input type="text" autocomplete="off" formControlName="NewConfirmPassword"
                              class="form-control float-right px-2 form-control-sm col-md-12" id="NewConfirmPassword" />
                          </div>
                          <!-- </div> -->
                        </div>
                      </div>
                    </div>
                  </div>




                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="closePopup()">
                      Close
                    </button>
                    <button type="button" class=" btn-success btn " (click)="UserSubmit()">Submit</button>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
          </div>
        </div>
      </div>
    </div>

    </div>
  </section>

</form><br><br>